@import url("https://fonts.googleapis.com/css2?family=Verdana:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Noto Sans Mono", sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(27, 27, 50);
  color: rgb(10, 10, 35);
  text-align: center;
}
.freecodecamp_logo {
  width: 15rem;
  height: 3rem;
  margin: 1.8rem auto 0;
}
h1 {
  font-family: Lato, sans-serif;
  letter-spacing: 1px;
  color: white;
  margin: 13px auto;
  font-size: 2.4rem;
}
.container {
  width: 30rem;
  background-color: rgb(245, 246, 247);
  box-shadow: rgba(223, 220, 220, 0.75) 10px 10px 0px 0px;
  margin: 25px 0px;
  border: 1px solid rgb(245, 246, 247);
  border-image: initial;
  border-radius: 15px;
  padding: 1rem;
  margin: 2rem auto;
}
label {
  display: block;
  color: black;
  align-self: center;
}
/* iPad */
@media only screen and (max-width: 1024px) {
}

/* Mobile ----------- */
@media only screen and (max-width: 767px) {
}
